p {
  color: rgb(40, 111, 173);
}
h1 {
  color: blueviolet;
}
body {
  background-color: aliceblue, blanchedalmond, blueviolet;
}
main {
  background-color: white;
  width: 500px;
  margin: auto;
  padding: 10px;
  box-shadow: 3px 3px 5px rgb(red, green, blue); 
 }
